<section class="page-title ptb-30">
  <div class="container padding-top-40">
      <div class="row">
          <div class="col m12">
              <h6 class="pagetitles">Careers</h6>
              <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">careers</a></li>
              </ol>
          </div>
      </div>
  </div>
</section>
<!--page title end-->
<!-- Modal Trigger -->

<section class="corporate-banner-1 bg-fixed parallax-bg height-350 valign-wrapper" data-stellar-background-ratio="0.5">
  <div class="valign-cell">
    <div class="container">
      <div class="row">
          <div class="col m6 col moffset-6">
              <h1 class="intro-title text-capitalize">Careers</h1>
              <p class="lead">Choose a job you love, and you will never have to work a day in your life</p>
              <button type="button" class="waves-effect waves-light btn "  data-popup-open="popup-1" >
                        Apply for a Job
                      </button>
                      <div class="modal fade popup" id="myModal" tabindex="-1" data-popup="popup-1" style="z-index:15" >
                        <div class="modal-dialog" >
                          <div class="popup-inner">
                            <div class="modal-header">
                             
                              <h4 class="modal-title">Contact Us</h4>
                            </div>
                            <div class="modal-body">
                                  <div class="row">
                                  <div class="col m12">
                                    <form method="post" id="contactForm" (ngSubmit)="login();contactform.reset(); Success()" #contactform="ngForm" >
                                      <div class="row">
                                        <div class="col m6">
                                          <div class="input-field">
                                            <i class="fa fa-user prefix fontcolors"></i>
                                            <input type="text" name="name" class="validate" id="name" [(ngModel)]='name' >
                                            <label for="name">Name</label>
                                          </div>
                                        </div><!-- /.col m6 -->
                                        <div class="col m6">
                                          <div class="input-field">
                                            <i class="fa fa-envelope prefix fontcolors"></i>
                                            <input id="email" type="email" name="email" class="validate" [(ngModel)]='email' >
                                            <label for="email" data-error="wrong" data-success="right">Email</label>

                                          </div>
                                        </div><!-- /.col m6 -->
                                       
                                      </div><!-- /.row -->

                                      <div class="row">
                                        <div class="col m12">
                                          <div class="input-field">
                                            <i class="fa fa-book prefix fontcolors"></i>
                                            <input id="subject" type="tel" name="subject" class="validate" [(ngModel)]='subject' >
                                            <label for="subject">Subject</label>
                                          </div>
                                        </div><!-- /.col m6 -->
                                        </div>
                                      <div class="input-field">
                                        <i class="fa fa-commenting-o prefix fontcolors"></i>
                                        <textarea name="message" id="message"  class="form-control" [(ngModel)]='message'  ></textarea>
                                        <label for="message">Message</label>
                                      </div>
                                      <button type="submit" name="submit" class="btn-sm btnclass" [disabled]="!contactform.form.valid" >Send Message</button>
                                      </form>
                                     
		
                                      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
          </div><!-- row -->
      </div><!-- row -->
    </div><!-- /.container -->
  </div><!-- /.valign-cell -->
</section>
<!-- Hero Section End -->
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          
<div class="container  ptb-30">

    <div class="row">
        <div class="col m4">
            <div class="featured-item hover-outline brand-hover radius-4">
                <div class="icon">
                    <i class="material-icons colored brand-icon">chat</i>
                </div>
                <div class="desc">
                    <h2>Company Culture</h2>
                    <p>some companies have a team-based culture with employee participation on all levels, while other have a more traditional and formal management style.We are example of an organization with a clear company culture</p>
                </div>
            </div><!-- /.featured-item -->
        </div><!-- /.col m4 -->

        <div class="col m4">
            <div class="featured-item hover-outline brand-hover radius-4">
                <div class="icon">
                    <i class="material-icons colored brand-icon">important_devices</i>
                </div>
                <div class="desc">
                    <h2>Student and university programs</h2>
                    <p>Bigperl Private solutions limited takes employees beyond the company to bring education to life with our unforgettable educational programs</p>
                </div>
            </div><!-- /.featured-item -->
        </div><!-- /.col m4 -->

        <div class="col m4">
            <div class="featured-item hover-outline brand-hover radius-4">
                <div class="icon">
                    <i class="material-icons colored brand-icon">settings</i>
                </div>
                <div class="desc">
                    <h2>Bigperl IT Challenge</h2>
                    <p>Technology advances rapidly and shows up in media on all sides. This means users, managers at all levels and even competitors pressure IT staff to implement this new technology just because it is new.</p>
                </div>
            </div><!-- /.featured-item -->
        </div><!-- /.col m4 -->
      </div>
        <div class="row">
        <div class="col m4">
            <div class="featured-item hover-outline brand-hover radius-4">
                <div class="icon">
                    <i class="material-icons colored brand-icon">mouse</i>
                </div>
                <div class="desc">
                    <h2>Mobile Applicaion Design</h2>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                </div>
            </div><!-- /.featured-item -->
        </div><!-- /.col m4 -->

        <div class="col m4">
            <div class="featured-item hover-outline brand-hover radius-4">
                <div class="icon">
                    <i class="material-icons colored brand-icon">photo_camera</i>
                </div>
                <div class="desc">
                    <h2>Professional Photography</h2>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                </div>
            </div><!-- /.featured-item -->
        </div><!-- /.col m4 -->

        <div class="col m4">
            <div class="featured-item hover-outline brand-hover radius-4">
                <div class="icon">
                    <i class="material-icons colored brand-icon">movie</i>
                </div>
                <div class="desc">
                    <h2>Moting Graphics Design</h2>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                </div>
            </div><!-- /.featured-item -->
        </div><!-- /.col m4 -->
    </div><!-- /.row -->
</div>




<section class="padding-top-20 padding-bottom-10 brand-bg">
    <div class="center">
      <div class="input-field">
      
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter search terms">
      <i class="fa fa-search prefix fontcolors1"></i>
    </div>
    </div>
</section>
<div class="container" id="test-list" style="margin-bottom:50px">
  <ul id="myUL" class="list">
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal"  data-popup-open="popup-1"><i class="material-icons">add</i>Android App development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1"  ><i class="material-icons">add</i>ADF & Web development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Android Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>ADF Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Blackberry App Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Codeigniter Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>CakePHP Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>CMS Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Drupal Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>E-Commerce Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>E-Commerce Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Facebook App Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Iphone App Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Ipad App Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Internet Of Things (IOT)</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>IOS Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Joomla Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Java & J2EE Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Laravel Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Magento Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Magento Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>PHP Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Python Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>PHP Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Python Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>PhoneGap Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Responsive Web Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>ROR Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>ROR Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Windows App Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Wearable Devices</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Wordpress Development</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>Web App Developer</a>
    </li>
    <li class="name">
      <a href="#" data-toggle="modal" data-target="#myModal" data-popup-open="popup-1" ><i class="material-icons">add</i>X-Cart Development</a>
    </li>

  </ul>
  <ul class="pagination right"></ul>
</div>

<app-footer2></app-footer2>

