

        <!--page title start-->
        <section class="page-title ptb-30">
                <div class="container padding-top-40">
                    <div class="row">
                        <div class="col m12">
                            <h6 class="pagetitles">Industry</h6>
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">industry</a></li>
                                <li class="active">government it</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!--page title end-->
    
                <img src="assets/img/industry/banner/government_banner_bigperl.png" class="fullwidth" alt="government_banner_bigperl">
    
                  <div class="container row padding-top-20">
                      <div class="col m7">
                          <h2 class="text-bold mb-10">Government</h2>
                          <p class="text-justified">Register an organization if you represent a business (including employers, sole traders and farming organisations), a charity, or other commercial or non-commercial organisation. Services include Electronic VAT Returns and PAYE Online for Employers.</p>
                      </div>
                      <div class="col m5">
                          <img src="assets/img/industry/government_bigperl.png" class="img-responsive " alt="government_bigperl">
                      </div>
                  </div>
    
            


          <app-footer5></app-footer5>
           
          <app-footer2></app-footer2>
              