﻿        
<header id="header " class="tt-nav " >

        <div class="whatsappme__button">
                <a href="https://api.whatsapp.com/send?phone=15105853238">
               <img src="assets/img/whatsapp/if_whatsapp_287520_bigperl.svg" alt="Kiwi standing on oval">   
        </a>
            </div>
        
            <div class="whatsappme__box">
                <header class="whatsappme__header">
                    <img src="assets/img/whatsapp/whatsappicon_bigperl.png">
                    <div class="whatsapp-text">whatsapp
                    </div>
        
                    <div class="whatsappme__close">×</div>
                </header>
                <div class="whatsappme__message">Hello,<br>Welcome to Bigperl solution Pvt Ltd<br><br>How Can I Help You?</div>
            </div>
        <div class="top-bar dark-bg lighten-2 visible-md visible-lg">
            <div class="container-fluid">
                <div class="row">
                    <!-- Social Icon -->
                    <div class="col l6">
                        <!-- Social Icon -->
                        <ul class="list-inline social-top tt-animate btt">
                            <li class="list-inline">
                                <a href="https://www.facebook.com/BigperlSolutions/" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li >
                            <li class="list-inline">
                                <a href="https://twitter.com/BigPerl" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline">
                                <a href="https://www.linkedin.com/company/bigperl-solutions-pvt-ltd-?trk=top_nav_home" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l6 right">
                        <ul class="topbar-cta no-margin right ">
                            <li class="mr-20">
                                <a href="mailto:info@bigperl.com">
                                    <i class="material-icons mr-10">comment</i>info@bigperl.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.top-bar -->
        <div class="header-sticky light-header ">
            <div class="container-fluid">
                
                <div id="materialize-menu" class="menuzord menuzord-responsive">

                    <!--logo start-->
                    <a href="index" class="logo-brand">
                            <img src="assets/img/seo/logo_bigperl.png" alt="logo_bigperl" >
                        </a>
                    <!--logo end-->

                    <!-- menu start-->
                    <ul class="menuzord-menu pull-right  menuzord-indented">
                        <li><a routerLink="/homee">Home</a></li>
                        <li><a >About Us</a>
                            <ul class="dropdown">
                                    <li>
                                            <a routerLink="/our-clients">Our Clients</a>
                                        </li>
                                        <li>
                                            <a routerLink="/success-stories">Success Stories</a>
                                        </li>
                                        <li>
                                            <a routerLink="/blogs">Blogs</a>
                                        </li>
                                        <li>
                                            <a href="#">Recongnition</a>
                                        </li>
                                        <li>
                                            <a href="#">News Room</a>
                                        </li>
                            </ul>
                        </li>
                        <li><a >Industry</a>
                            <div class="megamenu">
                                <div class="megamenu-row">
                                    <div class="col4">
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/automative">Automative</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/digital-marketing">Digital Marketing</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/hospitality">Hospitality</a>
                                                    </li>
                                                    <li>
                                                        <a href="media-entertainment">Media & Entertainment</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/real-estate">Real Estate</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/social-computing">Social Computing</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col4">
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/banking-&-financial">Banking & Financial</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/education">Education</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/it">IT</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/manufacturing">Manufacturing..</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/telecom">Telecom</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col4">
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/consumer-electronics">Consumer Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/government">Government</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/life-science-&-healthcare">Life Science & Healthcare</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/retail-and-consumer">Retail and consumer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/travel-transport-&-log">TravelTransport & Log</a>
                                                    </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a >Services</a>
                            <div class="megamenu">
                                <div class="megamenu-row">
                                    <div class="col3">
                                        <h2>Mobile App Development</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a id="android" routerLink="/android-app-development">Android App Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/iphone-app-development">IPhone App Development</a>
                                                    </li>
                                                    <li>
                                                        <a  routerLink="/ipad-app-development">Ipad App Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/windows-app-development">Windows App Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/blackberry-app-development">BlackBerry App Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/hybrid-app-development">Hybrid App Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/wearable-devices">Wearable Devices</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/internet-of-things">Internet Of Things (IOT)</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <h2>Website Development</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/php-development">PHP Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/ruby-on-rails-development">ROR Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/java-&-j2ee-development">Java & J2EE Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/responsive-web-development">Responsive Web Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/python-web-development">Python Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/adf-and-web-development">ADF and Web Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/facebook-app-development">Facebook App Development</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <h2>Open Source Customization</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/codeigniter-development">Codeigniter Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/cake-php-development">Cakephp Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/laravel-development">Laravel Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/cmc-development">CMS Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/word-press-development">Wordpress Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/drupal-development">Drupal Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/joomla-development">Joomla Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/e-commerce-development">E-Commerce Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/magento-development">Magento Development</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/xcart-development">X-Cart Development</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <h2>Specialized Home</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/web-application-development">Web Application Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/php-developer">PHP Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/ecommerce-developer">eCommerce Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/magento-developer">Magento Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/android-developer">Android Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/ios-developer">IOS Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/phone-gap-development">PhoneGap Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/python-developer">Python Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/ruby-on-rails-developer">ROR Developer</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/adf-developer">ADF Developer</a>
                                                    </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li><a >Products</a>
                            <div class="megamenu">
                                <div class="megamenu-row">
                                    <div class="col3">
                                        <h2>GPS & Mobility</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/gps-mobile-traking">GPS Mobile Tracking</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/gps-vehicle-traking">GPS Vehicle Tracking</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/gps-wearables">GPS Wearables</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/field-force-automation">Field Force Automation (FFA)</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/gps-assets-traking">GPS Assets Tracking</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <h2>Hospitality Automation</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/hotel-booking-engine">Hotel Booking Engine</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/hotel-management-system">Hotel Management System</a>
                                                    </li>
                                                    <li>
                                                        <a  routerLink="/hotel-inventory-management">Hotel Inventory Management</a>
                                                    </li>
                                                    <li>
                                                        <a  routerLink="/travel-booking-e-commerce">Travel Booking E-Commerce</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/food-on-wheel">Food On Wheel (FOW) Ordering</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <h2>Architectural IT</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/architechtural-network">Architectural Network</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/construction-suppliers">Construction Supplier N/W</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <h2>ERP & CRM</h2>
                                        <ul class="list-unstyled clearfix">
                                                <li>
                                                        <a routerLink="/enterprice-crm-sales">Enterprise CRM - Sales</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/enterprice-crm-support">Enterprise CRM - Support</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/sass-based-erp">SaaS Based ERP</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/sass-based-payroll">SaaS Based Payroll</a>
                                                    </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li >
                                <a routerLink="/portfolio" class="bbb">Portfolio</a>
                            </li>
                            <li>
                                <a routerLink="/careers">Careers</a>
                            </li>
                            <li>
                                <a routerLink="/contact-us">Contact</a>
                            </li>
                    </ul>
                    <!-- menu end-->

                </div>
                </div>
            </div>
        </header>
        <!--header end-->
    