

 <div class="triangle-isosceles"><p style="color:rgb(53, 48, 48);padding:2px">Welcome To Bigperl</p></div>
<div class="pull-right">

    <span class="dot"></span>  
 <div class="  whatsappme__button1">
    
   <img src="assets/img/icons8-administrator-male-50_bigperl.png" alt="Kiwi standing on oval"> 
   
   

</div>
</div>

<div class="pull-right">
<div class="whatsappme__box1" >


        <div class="row">
                <div class="col m12" >
                    <div>
                            <a class="popup-close pull-right" id="message_close" data-popup-close="popup-1" href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                    </div>
                
                  <form method="post" id="contactForm" (ngSubmit)="login();contactform.reset(); Success();" #contactform="ngForm" >
                    <div class="row" >
                      <div class="col m12">
                        <div class="input-field">
                          <i class="fa fa-user prefix fontcolors"></i>
                          <input type="text" name="name" class="validate" id="name" [(ngModel)]='name' #userFullName="ngModel"
                          [ngClass]="{'is-invalid':userFullName.errors && userFullName.touched}"     required minlength="2" >
                          
                          <label for="name">Name</label>
                          <!-- <div [hidden]="!userFullName.errors?.required" class="invalid-feedback">Name required</div> -->
                        </div> 
                      </div>
                      <div class="col m12">
                        <div class="input-field">
                          <i class="fa fa-envelope prefix fontcolors"></i>
                          <input id="email" type="email" name="email" class="validate" [(ngModel)]='email' #userEmail="ngModel"
                         [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
                         pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
                         >
                          <label for="email" data-error="wrong" data-success="right">Email</label>

                        </div>
                      </div>
                     
                  
                      <div class="col m12">
                        <div class="input-field">
                          <i class="fa fa-book prefix fontcolors"></i>
                          <input id="subject" type="tel" name="subject" class="validate" [(ngModel)]='subject' 
                          #userSubject="ngModel"
                          [ngClass]="{'is-invalid':userSubject.errors && userSubject.touched}"     required minlength="2">
                          <label for="subject">Subject</label>
                        </div>
                      </div>
                      </div>
                    <div class="input-field">
                      <i class="fa fa-commenting-o prefix fontcolors"></i>
                      <textarea name="message" id="message"  class="form-control" [(ngModel)]='message'  
                      ></textarea>
                      <label for="message">Message</label>
                    </div>
                    <button type="submit" name="submit" class="btn-sm btnclass" [disabled]="!contactform.form.valid" >Send Message</button>
                    </form>
                   

                   
                </div>
          </div>

<!-- 

        <div class="whatsappme__close1">×</div>
    <form method="post" id="contactFormTest" (ngSubmit)="login(); contactform.reset(); Success() " #contactform="ngForm" >
            
        <div class="row">
            <div class="col-md-12">
                <div class="input-field">
                    <i class="fa fa-user prefix fontcolors"></i>
                    <input type="text" name="name" class="validate" id="name" style="height:20px" [(ngModel)]='name' >
                    <label for="name">Name</label>
                </div>
            </div>
        </div>
            
            <div class="row">
            <div class="col-md-12">
                <div class="input-field">
                    <i class="fa fa-envelope prefix fontcolors"></i>
                    <input id="email" type="email" name="email" class="validate" style="height:20px"  [(ngModel)]='email'>
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
            
        </div>
      

        <div class="row">
            <div class="col-md-12">
                <div class="input-field">
                    <i class="fa fa-book prefix fontcolors"></i>
                    <input id="subject" type="tel" name="subject" class="validate" style="height:20px" [(ngModel)]='subject'>
                    <label for="subject">Subject</label>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
        <div class="input-field">
            <i class="fa fa-commenting-o prefix fontcolors"></i>
            <textarea name="message" id="message" class="form-control" [(ngModel)]='message' style="border:none;height:127px"></textarea>
            <label for="message">Message</label>
        </div>
    </div>
</div>
        <button type="submit" name="submit" class="btn-sm btnclass"  [disabled]="!contactform.form.valid" >Send Message</button>
    </form> -->
</div>
</div>
  <app-footer4></app-footer4>