textarea {
    height: 50px
}

.row {
    margin-bottom: 6px
}

.whatsappme__button1 {
    position: fixed;
    z-index: 1004;
    bottom: 28px;
    right: 30px;
    height: 63px;
    min-width: 63px;
    max-width: 95vw;
    background-color: #c58652;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background-color .5s ease-in-out
}

.pull-right img {
    padding-left: 5px
}

.whatsappme__box1 {
    display: none;
    position: fixed;
    bottom: 107px;
    right: 10px;
    z-index: 1000;
    width: calc(100vw - 40px);
    max-width: 400px;
    min-height: 320px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5)
}

.input-field label {
    /* color: #999;
    top: -10px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0; */
    padding-top: 1px;
    padding-left: 2px;
}

.whatsapp-text1,
.whatsappme__close1 {
    position: absolute;
    top: 18px;
    width: 34px;
    text-align: center;
    opacity: .4
}

.whatsappme__box1 img {
    height: 40px;
    margin: 10px
}

.whatsapp-text1 {
    right: 284px;
    height: 34px;
    color: #fff;
    line-height: 25px;
    font-size: 23px
}

.whatsappme__header1 {
    height: 70px;
    padding: 0 26px;
    background-color: #2e8c7d;
    color: rgba(255, 255, 255, .5);
    border-radius: 33px 33px 0 0
}


.whatsappme__close1 {
    right: 24px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 34px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity .3s ease-out
}
#message_close i{
    font-size: 25px;
    padding-top: 10px;
}

.whatsappme__message1 {
    position: relative;
    min-height: 80px;
    padding: 20px 22px;
    margin: 34px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4A4A4A;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3)
}

.pull-right .dot,
.triangle-isosceles {
    color: #fff;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background-color .5s ease-in-out
}

.whatsappme__message1::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 70px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 22px solid #fff;
    border-bottom: 4px solid transparent
}

form {
    width: 350px;
    padding: 26px 10px 10px 12px
}

.triangle-isosceles {
    position: fixed;
    z-index: 1004;
    bottom: 38px;
    right: 112px;
    height: 34px;
    width: 156px;
    background-color: #fff;
    border-radius: 5px
}

.triangle-isosceles:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    left: 156px;
    width: 0;
    border-width: 14px 17px 0 0;
    border-style: solid;
    border-color: #fff transparent
}

.pull-right .dot {
    position: fixed;
    z-index: 1005;
    bottom: 44px;
    right: 31px;
    height: 14px;
    min-width: 14px;
    max-width: 95vw;
    background-color: #6ab937;
    border-radius: 30px
}