
<!--page title start-->
<section class="page-title ptb-30">
  <div class="container padding-top-40">
    <div class="row">
      <div class="col m12">
        <h6 class="pagetitles">Services</h6>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li class="active">Cross Platform Mobile Application Development with Xamarin</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!--page title end-->
<div class=" row blog container padding-top-20 blog">
  <div class="col m8">
    <div>
      <h1 class="text-bold mb-11">Google Increases Meta Description Length: Here’s What It Means For SEO Experts</h1>
      <img src="assets/img/services/Google-Increases-Meta-Description-Length.png" class="responsive-img  " alt="Image">
        <div class="blog-auth">
          <img src="https://png.icons8.com/ios/20/000000/user-filled.png">
            <a href="">Virendra Yadav</a>
          </div>
          <hr>
            <!-- 
            <p class="text-bold padding-top-40" style="text-align: center;font-size:8px"> Pic credits: Xamarin.com </p> -->
            <h2 class="text-justified padding-top-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</h2>
          </div>
          <div class="col m12 single-blog padding-top-10">
            <div class="well">
              <div class="media">
                <div class="col m4">
                  <a class="pull-left" href="#">
                    <div class="img-heading pull-left">
                      <h5>APP DEVELOPMENT</h5>
                    </div>
                    <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                    </a>
                  </div>
                  <div class="col m8">
                    <div class="media-body">
                      <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                      <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col m12 single-blog padding-top-20">
              <div class="well">
                <div class="media">
                  <div class="col m4">
                    <a class="pull-left" href="#">
                      <div class="img-heading pull-left">
                        <h5>APP DEVELOPMENT</h5>
                      </div>
                      <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                      </a>
                    </div>
                    <div class="col m8">
                      <div class="media-body">
                        <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                        <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col m12 single-blog padding-top-20">
                <div class="well">
                  <div class="media">
                    <div class="col m4">
                      <a class="pull-left" href="#">
                        <div class="img-heading pull-left">
                          <h5>APP DEVELOPMENT</h5>
                        </div>
                        <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                        </a>
                      </div>
                      <div class="col m8">
                        <div class="media-body">
                          <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                          <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col m12 single-blog padding-top-20">
                  <div class="well">
                    <div class="media">
                      <div class="col m4">
                        <a class="pull-left" href="#">
                          <div class="img-heading pull-left">
                            <h5>APP DEVELOPMENT</h5>
                          </div>
                          <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                          </a>
                        </div>
                        <div class="col m8">
                          <div class="media-body">
                            <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                            <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col m12 single-blog padding-top-20">
                    <div class="well">
                      <div class="media">
                        <div class="col m4">
                          <a class="pull-left" href="#">
                            <div class="img-heading pull-left">
                              <h5>APP DEVELOPMENT</h5>
                            </div>
                            <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                            </a>
                          </div>
                          <div class="col m8">
                            <div class="media-body">
                              <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                              <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m12 single-blog padding-top-20">
                      <div class="well">
                        <div class="media">
                          <div class="col m4">
                            <a class="pull-left" href="#">
                              <div class="img-heading pull-left">
                                <h5>APP DEVELOPMENT</h5>
                              </div>
                              <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                              </a>
                            </div>
                            <div class="col m8">
                              <div class="media-body">
                                <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                                <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col m12 single-blog padding-top-20">
                        <div class="well">
                          <div class="media">
                            <div class="col m4">
                              <a class="pull-left" href="#">
                                <div class="img-heading pull-left">
                                  <h5>APP DEVELOPMENT</h5>
                                </div>
                                <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                                </a>
                              </div>
                              <div class="col m8">
                                <div class="media-body">
                                  <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                                  <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col m12 single-blog padding-top-20">
                          <div class="well">
                            <div class="media">
                              <div class="col m4">
                                <a class="pull-left" href="#">
                                  <div class="img-heading pull-left">
                                    <h5>APP DEVELOPMENT</h5>
                                  </div>
                                  <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                                  </a>
                                </div>
                                <div class="col m8">
                                  <div class="media-body">
                                    <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                                    <a class=" pull-right marginBottom10" href="#">READ MORE</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Sidebar Widgets Column -->
                        <div class="col m4">
                          <!-- Search Widget -->
                          <form action="#" method="get">
                            <div class="input-field">
                              <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                              <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                                <span class="input-group-btn" >
                                  <button type="submit" class="btn-a btn-a-default">
                                      <i class="fa fa-search"></i>
                                  </button>
                                </span>
                              </div>
                            </form>
                            <h2 class="text-bold mb-11 padding-top-20">CATEGORIES</h2>
                            <form>
                              <div class="form-group">
                                <select class="form-control" id="sel1">
                                  <option>Select Category</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                </select>
                              </div>
                            </form>
                            <h2 class="text-bold mb-11 padding-top-20">RECENT POSTS</h2>
                            <ul TYPE = "SQUARE">
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                            </ul>
                          </div>

                          
                            
                      
                        </div>
                        <div class="pagination" style="display:flex">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                          </div>
                        
                       
                            