pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover{
    background: #03a9f4;
}
.form-control {
    border-radius: 0;
    height: 35px;
}