<!--page title start-->
<section class="page-title ptb-30">
  <div class="container padding-top-40">
      <div class="row">
          <div class="col m12">
              <h6 class="pagetitles">Contact us</h6>
              <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li class="active">contact us</li>
              </ol>
          </div>
      </div>
  </div>
</section>
<!--page title end-->


<!-- contact-form-section -->
<section class="section-padding">

<div class="container">

  <div class="center mb-15">
      <h2 class="section-title text-uppercase">Get in Touch</h2>
      <p class="section-sub">BigPerl Solutions is one of the fastest growing Mobile Application Development company. we are specialised in providing best in class technology and support solution to cater growing business needs.</p>
  </div>

  <div class="row">
      <div class="col m6 padding-right-0" style="border:1px solid #d6e9c6;padding:30px">
        <div class="panel panel-success" >
          <div class="panel-body" >
          <h3><b>Contact Us</b></h3>
              <div class="row" >
                <div class="col m12 " >
                  <form method="post" id="contactForm" (ngSubmit)="login();contactform2.reset(); Success()" #contactform2="ngForm"  >
                    <div class="row">
                      <div class="col m6">
                        <div class="input-field">
                          <i class="fa fa-user prefix fontcolors"></i>
                          <input type="text" name="name" class="validate" id="name"  [(ngModel)]='name' #userFullName="ngModel"
                          [ngClass]="{'is-invalid':userFullName.errors && userFullName.touched}"     required minlength="2">
                          <label for="name">Name</label>
                        </div>
                      </div><!-- /.col m6 -->
                      <div class="col m6">
                        <div class="input-field">
                          <i class="fa fa-envelope prefix fontcolors"></i>
                          <input id="email" type="email" name="email" class="validate"   [(ngModel)]='email'  #userEmail="ngModel"
                          [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
                          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
                          >
                          <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                      </div><!-- /.col m6 -->
                    </div><!-- /.row -->

                    <div class="row">
                      <div class="col m12">
                        <div class="input-field">
                          <i class="fa fa-book prefix fontcolors"></i>
                          <input id="subject" type="tel" name="subject" class="validate"  [(ngModel)]='subject'  #userSubject="ngModel"
                          [ngClass]="{'is-invalid':userSubject.errors && userSubject.touched}"     required minlength="2">
                          <label for="subject">Subject</label>
                        </div>
                      </div><!-- /.col m6 -->
                      </div>
                    <div class="input-field">
                      <i class="fa fa-commenting-o prefix fontcolors"></i>
                      <textarea name="message" id="message" class="form-control"  [(ngModel)]='message' style="border:none" ></textarea>
                      <label for="message">Message</label>
                    </div>
                    <button type="submit" name="submit" class="btn-sm btnclass"  [disabled]="!contactform2.form.valid" >Send Message</button>
                    </form>
                </div>
              </div>
          </div>
        </div>
      </div><!-- /.col m8 -->

      <div class="col m6 contact-info padding-right-0">
          <iframe src="https://www.google.com/maps/d/embed?mid=1zaoCDS4JispLhVabcJnbm9A3Q_4" width="554" height="320"  frameborder="0"  allowfullscreen></iframe>
      </div><!-- /.col m4 -->
  </div><!-- /.row --><br>
    <div class="panel panel-success col m12 mb-40" style="margin-left:-13px;width:99%">
      <div class="panel-body" style="border:1px solid #d6e9c6; padding:30px">
        <div class="row">
          <div class="col m3 borderright">
            <h3><b><a>*</a>India :</b></h3>
            <p><b>#1444,Kengeri Upanagara <br>Old Outer Ring Rd, Kengeri Satellite, <br>Town Karnataka 560060.</b></p>
          </div>
          <div class="col m3 borderright">
              <h3><b><a>*</a>Jaipur :</b></h3>
              <p><b>4th Floor , P.No 5 Niram Nagar AB, Ajmer Road , Jaipur ,<br> Rajasthan , Pin : 302019</b><br></p>
          </div>
          <div class="col m3 borderright">
              <h3><b><a>*</a>Canada</b></h3>
              <p><b>25th bay street toronto , <br> Ontario , canada M5J 2N8</b></p><br>
          </div>
          <div class="col m3">
              <h3><b><a>*</a>United States :</b></h3>
            <p><b>9350 Wilshire Blvd, Suite 203, <br>Beverly Hills, CA 90212</b></p>
          </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- contact-form-section End -->