<!--page title start-->
<section class="page-title ptb-30">
        <div class="container padding-top-40">
            <div class="row">
                <div class="col m12">
                    <h6 class="pagetitles">Services</h6>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">products</a></li>
                        <li class="active">sass based erp</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

        <img src="assets/img/products/banner/sass_based_erp_bigperl.png" class="fullwidth" alt="sass_based_erp_bigperl">

          <div class="container row padding-top-20">
              <div class="col m7">
                  <h2 class="text-bold mb-10">SASS based ERP</h2>
                  
              </div>
              <div class="col m5">
                  <img src="assets/img/products/sass_erp_bigperl.png" class="img-responsive " alt="sass_erp_bigperl">
              </div>
          </div>

    


<app-footer5></app-footer5>
           
<app-footer2></app-footer2>