<!--page title start-->
<section class="page-title ptb-30">
  <div class="container padding-top-40">
      <div class="row">
          <div class="col m12">
              <h6 class="textfloatRight">About Us</h6>
              <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li class="active">about us</li>
              </ol>
          </div>
      </div>
  </div>


  
</section>





<!-- Home page tabs using javascript -->

<!-- /Home page tabs using javascript -->

<section style="height:300px;">
    <div class="container">




<!-- Home page tabs using javascript -->
<p>&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1">
    <tbody>
        <tr>
            <td><a href="javascript:showtab('tab-1')"> About us </a> </td>
            <td><a href="javascript:showtab('tab-2')"> What We Do </a> </td>
            <td><a href="javascript:showtab('tab-3')"> Our Mission </a> </td>
            <td><a href="javascript:showtab('tab-4')"> Setps </a> </td>
        </tr>
    </tbody>
</table>
<div id="tab-container">
        <div style="display:flex">
                <img class="alignleft" src="assets/img/about_us_working_man_bigperl.png" alt="about_us_working_man_bigperl">
                <div>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.
                        <br> Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.
                </div>

            
               
            </div>    
</div>
<div id="tab-1" style="visibility:hidden">
        <div style="display:flex">
                <img class="alignleft" src="assets/img/about_us_working_man_bigperl.png" alt="about_us_working_man_bigperl">
                <div>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.
                        <br> Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.
                </div>

            
               
            </div>
</div>
<div id="tab-2" style="visibility:hidden">
        <div style="display:flex">
                <img class="alignleft" src="assets/img/about_us_busy_man_bigperl.png" alt="about_us_working_man_bigperl">
                <div>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.
                        <br> Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.
                </div>

            
               
            </div>
    </div>
    <div id="tab-3" style="visibility:hidden">
            <div style="display:flex">
                    <img class="alignleft" src="assets/img/about_us_mission_bigperl.png" alt="about_us_working_man_bigperl">
                    <div>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.
                            <br> Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.
                    </div>

                
                   
                </div>
        </div>    
        <div id="tab-4" style="visibility:hidden">
                <div style="display:flex">
                        <img class="alignleft" src="assets/img/about_us_business_bigperl.png" alt="about_us_working_man_bigperl">
                        <div>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.
                                <br> Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.
                        </div>
    
                    
                       
                    </div>
            </div>  
           <!-- /Home page tabs using javascript -->
             
    </div>
</section>
<!--page title end-->




<section class="section-padding banner-6 bg-fixed parallax-bg overlay light-9" data-stellar-background-ratio="0.5">
  <div class="container">

    <div class="center mb-80">
        <h2 class="section-title text-uppercase">Work together</h2>
        <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
    </div>

    <div class="featured-carousel brand-dot">
        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">security</i>
            </div>
            <div class="desc">
                <h2>We are creative</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">account_box</i>
            </div>
            <div class="desc">
                <h2>We are awesome</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">question_answer</i>
            </div>
            <div class="desc">
                <h2>We are Taltented</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">pets</i>
            </div>
            <div class="desc">
                <h2>We are secured</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">shopping_basket</i>
            </div>
            <div class="desc">
                <h2>We are Pationate</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">thumb_up</i>
            </div>
            <div class="desc">
                <h2>We are Developer</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">movie</i>
            </div>
            <div class="desc">
                <h2>We are Designer</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <i class="material-icons brand-icon">email</i>
            </div>
            <div class="desc">
                <h2>We are Expert</h2>
                <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
            </div>
        </div><!-- /.featured-item -->
    </div>

  </div><!-- /.container -->
</section>


<hr>


<section>
        <div class="container">
                <ul class="tabs11" >
                        <li style="display:inline"><a href="javascript:rudrSwitchTab('tbb_1', 'contentt_1');" id="tbb_1" class="tabmenu1 active">
                             
                                        
                                              <img src="assets/img/team/about_us_team_1_bigperl.jpg" class="-responsive-img" alt="about_us_team_1_bigperl">
                                            
                            
                        </a></li>
                        <li style="display:inline"><a href="javascript:rudrSwitchTab('tbb_2', 'contentt_2');" id="tbb_2" class="tabmenu1">
                                <img src="assets/img/team/about_us_team_2_bigperl.jpg" class="-responsive-img" alt="about_us_team_1_bigperl">
                        </a></li>
                        <li style="display:inline"><a href="javascript:rudrSwitchTab('tbb_3', 'contentt_3');" id="tbb_3" class="tabmenu1">
                                <img src="assets/img/team/about_us_team_3_bigperl.jpg" class="-responsive-img" alt="about_us_team_1_bigperl">
                        </a></li>
                        <li style="display:inline"><a href="javascript:rudrSwitchTab('tbb_4', 'contentt_4');" id="tbb_4" class="tabmenu1">
                                <img src="assets/img/team/about_us_team_4_bigperl.jpg" class="-responsive-img" alt="about_us_team_1_bigperl">
                        </a></li>
                    </ul>
                     
                    <div id="contentt_1" class="tabcontent1" > 
                            <div  class="tab-pane fade in active" id="team_1_bigperl">
                                    <div class="row">
                                        <div class="col m4 s3">
                                            <figure class="team-img text-center">
                                                <img src="assets/img/team/about_us_team_large_1_bigperl.png" class="img-responsive" alt="about_us_team_large_1_bigperl">
                    
                                                <ul class="team-social-links list-inline center">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                                </ul>
                                            </figure>
                                        </div><!-- /.col-md-4 -->
                    
                                        <div class="col m8 s9">
                    
                                            <div class="team-intro">
                                                <h1>Elita Chow   <p>Product Designer</p></h1>
                                               
                                                <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. Parturient eleifend adipiscing ultrices a cursus est feugiat porta a at condimentum fames adipiscing odio in nisi venenatis suspendisse suspendisse parturient. Leo congue sociosqu maecenas ligula eu penatibus at suscipit mus scelerisque.</p>
                                            </div>
                    
                    
                                            <div class="team-skill">
                                                <div class="row">
                    
                                                  <div class="col s6">
                                                    
                                                        <div class="row">
                                                                <h5 class="col s10">Lesson Progress</h5>
                                                                <h5 class="col s2 right-align">90%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 90%"></div>
                                                            </div>
                                                      <!-- <div class="progress-section">
                                                          <span class="progress-title">Web Design</span>
                                                          <div class="progress">
                                                              <div  class="determinate" style="width: 70%">
                                                                  <span>90%</span>
                                                              </div>
                                                          </div>
                                                      </div>  -->
                    
                                                      
                                                      <div class="row">
                                                            <h5 class="col s10">Mobile Interface</h5>
                                                            <h5 class="col s2 right-align">86%</h5>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="determinate" style="width: 86%"></div>
                                                        </div>

                                                        <div class="row">
                                                                <h5 class="col s10">Mobile Interface</h5>
                                                                <h5 class="col s2 right-align">86%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 86%"></div>
                                                            </div>

                                                    
                    
                                                     
                                                  </div><!-- /.col-md-6 -->
                    
                                                  <div class="col s6">

                                                        <div class="row">
                                                                <h5 class="col s10">Web Design</h5>
                                                                <h5 class="col s2 right-align">90%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 90%"></div>
                                                            </div>

                                                   
                    
                                                            <div class="row">
                                                                    <h5 class="col s10">Mobile Interface</h5>
                                                                    <h5 class="col s2 right-align">86%</h5>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="determinate" style="width: 86%"></div>
                                                                </div>
                    
                                                                <div class="row">
                                                                        <h5 class="col s10">Mobile Interface</h5>
                                                                        <h5 class="col s2 right-align">86%</h5>
                                                                    </div>
                                                                    <div class="progress">
                                                                        <div class="determinate" style="width: 86%"></div>
                                                                    </div>
                                                  </div><!-- /.col-md-6 -->
                    
                                                </div><!-- /.row -->
                    
                                            </div> <!--team-skill end -->
                                        </div> <!-- col-md-8 -->
                                    </div> <!-- row -->
                                </div> <!--team-1 end-->
                    </div> 
                    <div id="contentt_2" class="tabcontent1" style="display:none;">
                            <div  class="tab-pane fade in active" id="team_1_bigperl">
                                    <div class="row">
                                        <div class="col m4 s3">
                                            <figure class="team-img text-center">
                                                <img src="assets/img/team/about_us_team_large_2_bigperl.png" class="img-responsive" alt="about_us_team_large_1_bigperl">
                    
                                                <ul class="team-social-links list-inline center">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                                </ul>
                                            </figure>
                                        </div><!-- /.col-md-4 -->
                    
                                        <div class="col m8 s9">
                    
                                            <div class="team-intro">
                                                    <h1>Jhon Doe  <p>Product Developerr</p></h1>
                                                <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. Parturient eleifend adipiscing ultrices a cursus est feugiat porta a at condimentum fames adipiscing odio in nisi venenatis suspendisse suspendisse parturient. Leo congue sociosqu maecenas ligula eu penatibus at suscipit mus scelerisque.</p>
                                            </div>
                    
                    
                                            <div class="team-skill">
                                                <div class="row">
                    
                                                  <div class="col s6">
                                                    
                                                        <div class="row">
                                                                <h5 class="col s10">Lesson Progress</h5>
                                                                <h5 class="col s2 right-align">90%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 90%"></div>
                                                            </div>
                                                      <!-- <div class="progress-section">
                                                          <span class="progress-title">Web Design</span>
                                                          <div class="progress">
                                                              <div  class="determinate" style="width: 70%">
                                                                  <span>90%</span>
                                                              </div>
                                                          </div>
                                                      </div>  -->
                    
                                                      
                                                      <div class="row">
                                                            <h5 class="col s10">Mobile Interface</h5>
                                                            <h5 class="col s2 right-align">86%</h5>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="determinate" style="width: 86%"></div>
                                                        </div>

                                                        <div class="row">
                                                                <h5 class="col s10">Mobile Interface</h5>
                                                                <h5 class="col s2 right-align">86%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 86%"></div>
                                                            </div>

                                                    
                    
                                                     
                                                  </div><!-- /.col-md-6 -->
                    
                                                  <div class="col s6">

                                                        <div class="row">
                                                                <h5 class="col s10">Web Design</h5>
                                                                <h5 class="col s2 right-align">90%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 90%"></div>
                                                            </div>

                                                   
                    
                                                            <div class="row">
                                                                    <h5 class="col s10">Mobile Interface</h5>
                                                                    <h5 class="col s2 right-align">86%</h5>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="determinate" style="width: 86%"></div>
                                                                </div>
                    
                                                                <div class="row">
                                                                        <h5 class="col s10">Mobile Interface</h5>
                                                                        <h5 class="col s2 right-align">86%</h5>
                                                                    </div>
                                                                    <div class="progress">
                                                                        <div class="determinate" style="width: 86%"></div>
                                                                    </div>
                                                  </div><!-- /.col-md-6 -->
                    
                                                </div><!-- /.row -->
                    
                                            </div> <!--team-skill end -->
                                        </div> <!-- col-md-8 -->
                                    </div> <!-- row -->
                                </div> <!--team-1 end-->
                        </div>
                        <div id="contentt_3" class="tabcontent1" style="display:none;">
                                <div  class="tab-pane fade in active" id="team_1_bigperl">
                                        <div class="row">
                                            <div class="col m4 s3">
                                                <figure class="team-img text-center">
                                                    <img src="assets/img/team/about_us_team_large_3_bigperl.png" class="img-responsive" alt="about_us_team_large_1_bigperl">
                        
                                                    <ul class="team-social-links list-inline center">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                                    </ul>
                                                </figure>
                                            </div><!-- /.col-md-4 -->
                        
                                            <div class="col m8 s9">
                        
                                                <div class="team-intro">
                                                        <h1>Tomas Udoya  <p>Product Designer</p></h1>
                                                    <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. Parturient eleifend adipiscing ultrices a cursus est feugiat porta a at condimentum fames adipiscing odio in nisi venenatis suspendisse suspendisse parturient. Leo congue sociosqu maecenas ligula eu penatibus at suscipit mus scelerisque.</p>
                                                </div>
                        
                        
                                                <div class="team-skill">
                                                    <div class="row">
                        
                                                      <div class="col s6">
                                                        
                                                            <div class="row">
                                                                    <h5 class="col s10">Lesson Progress</h5>
                                                                    <h5 class="col s2 right-align">90%</h5>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="determinate" style="width: 90%"></div>
                                                                </div>
                                                          <!-- <div class="progress-section">
                                                              <span class="progress-title">Web Design</span>
                                                              <div class="progress">
                                                                  <div  class="determinate" style="width: 70%">
                                                                      <span>90%</span>
                                                                  </div>
                                                              </div>
                                                          </div>  -->
                        
                                                          
                                                          <div class="row">
                                                                <h5 class="col s10">Mobile Interface</h5>
                                                                <h5 class="col s2 right-align">86%</h5>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="determinate" style="width: 86%"></div>
                                                            </div>
    
                                                            <div class="row">
                                                                    <h5 class="col s10">Mobile Interface</h5>
                                                                    <h5 class="col s2 right-align">86%</h5>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="determinate" style="width: 86%"></div>
                                                                </div>
    
                                                        
                        
                                                         
                                                      </div><!-- /.col-md-6 -->
                        
                                                      <div class="col s6">
    
                                                            <div class="row">
                                                                    <h5 class="col s10">Web Design</h5>
                                                                    <h5 class="col s2 right-align">90%</h5>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="determinate" style="width: 90%"></div>
                                                                </div>
    
                                                       
                        
                                                                <div class="row">
                                                                        <h5 class="col s10">Mobile Interface</h5>
                                                                        <h5 class="col s2 right-align">86%</h5>
                                                                    </div>
                                                                    <div class="progress">
                                                                        <div class="determinate" style="width: 86%"></div>
                                                                    </div>
                        
                                                                    <div class="row">
                                                                            <h5 class="col s10">Mobile Interface</h5>
                                                                            <h5 class="col s2 right-align">86%</h5>
                                                                        </div>
                                                                        <div class="progress">
                                                                            <div class="determinate" style="width: 86%"></div>
                                                                        </div>
                                                      </div><!-- /.col-md-6 -->
                        
                                                    </div><!-- /.row -->
                        
                                                </div> <!--team-skill end -->
                                            </div> <!-- col-md-8 -->
                                        </div> <!-- row -->
                                    </div> <!--team-1 end-->
                            </div>
                            <div id="contentt_4" class="tabcontent1" style="display:none;">
                                    <div  class="tab-pane fade in active" id="team_1_bigperl">
                                            <div class="row">
                                                <div class="col m4 s3">
                                                    <figure class="team-img text-center">
                                                        <img src="assets/img/team/about_us_team_large_4_bigperl.png" class="img-responsive" alt="about_us_team_large_1_bigperl">
                            
                                                        <ul class="team-social-links list-inline center">
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                                        </ul>
                                                    </figure>
                                                </div><!-- /.col-md-4 -->
                            
                                                <div class="col m8 s9">
                            
                                                    <div class="team-intro">
                                                            <h1>Jonathon Bin <p>Product Developerr</p></h1>
                                                        <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. Parturient eleifend adipiscing ultrices a cursus est feugiat porta a at condimentum fames adipiscing odio in nisi venenatis suspendisse suspendisse parturient. Leo congue sociosqu maecenas ligula eu penatibus at suscipit mus scelerisque.</p>
                                                    </div>
                            
                            
                                                    <div class="team-skill">
                                                        <div class="row">
                            
                                                          <div class="col s6">
                                                            
                                                                <div class="row">
                                                                        <h5 class="col s10">Lesson Progress</h5>
                                                                        <h5 class="col s2 right-align">90%</h5>
                                                                    </div>
                                                                    <div class="progress">
                                                                        <div class="determinate" style="width: 90%"></div>
                                                                    </div>
                                                              <!-- <div class="progress-section">
                                                                  <span class="progress-title">Web Design</span>
                                                                  <div class="progress">
                                                                      <div  class="determinate" style="width: 70%">
                                                                          <span>90%</span>
                                                                      </div>
                                                                  </div>
                                                              </div>  -->
                            
                                                              
                                                              <div class="row">
                                                                    <h5 class="col s10">Mobile Interface</h5>
                                                                    <h5 class="col s2 right-align">86%</h5>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="determinate" style="width: 86%"></div>
                                                                </div>
        
                                                                <div class="row">
                                                                        <h5 class="col s10">Mobile Interface</h5>
                                                                        <h5 class="col s2 right-align">86%</h5>
                                                                    </div>
                                                                    <div class="progress">
                                                                        <div class="determinate" style="width: 86%"></div>
                                                                    </div>
        
                                                            
                            
                                                             
                                                          </div><!-- /.col-md-6 -->
                            
                                                          <div class="col s6">
        
                                                                <div class="row">
                                                                        <h5 class="col s10">Web Design</h5>
                                                                        <h5 class="col s2 right-align">90%</h5>
                                                                    </div>
                                                                    <div class="progress">
                                                                        <div class="determinate" style="width: 90%"></div>
                                                                    </div>
        
                                                           
                            
                                                                    <div class="row">
                                                                            <h5 class="col s10">Mobile Interface</h5>
                                                                            <h5 class="col s2 right-align">86%</h5>
                                                                        </div>
                                                                        <div class="progress">
                                                                            <div class="determinate" style="width: 86%"></div>
                                                                        </div>
                            
                                                                        <div class="row">
                                                                                <h5 class="col s10">Mobile Interface</h5>
                                                                                <h5 class="col s2 right-align">86%</h5>
                                                                            </div>
                                                                            <div class="progress">
                                                                                <div class="determinate" style="width: 86%"></div>
                                                                            </div>
                                                          </div><!-- /.col-md-6 -->
                            
                                                        </div><!-- /.row -->
                            
                                                    </div> <!--team-skill end -->
                                                </div> <!-- col-md-8 -->
                                            </div> <!-- row -->
                                        </div> <!--team-1 end-->
                                </div>
        </div>
    </section>



<div class="container padding-top-20 padding-bottom-20">

    <div class="row">
      <div class="col m8 m-offset-2">

        <div class="thumb-carousel circle-thumb text-center">
          <ul class="slides">
            <li data-thumb="assets/img/client-thumb/about_us_1_bigperl.png">
              <div class="icon">
                  <img src="assets/img/about_us_quote_dark_bigperl.png" alt="about_us_quote_dark_bigperl">
              </div>
              <div class="content">
                  <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                  <div class="testimonial-meta brand-color">
                      Jhon Doe,
                      <span>User Interface Designer</span>
                  </div>
              </div>
            </li>
            <li data-thumb="assets/img/client-thumb/about_us_2_bigperl.png">
              <div class="icon">
                  <img src="assets/img/about_us_quote_dark_bigperl.png" alt="about_us_quote_dark_bigperl">
              </div>
              <div class="content">
                  <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                  <div class="testimonial-meta brand-color">
                      Tomas Hody,
                      <span>User Interface Designer</span>
                  </div>
              </div>
            </li>
            <li data-thumb="assets/img/client-thumb/about_us_3_bigperl.png">
              <div class="icon">
                  <img src="assets/img/about_us_quote_dark_bigperl.png" alt="about_us_quote_dark_bigperl">
              </div>
              <div class="content">
                  <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                  <div class="testimonial-meta brand-color">
                      Elita Chow,
                      <span>User Interface Designer</span>
                  </div>
              </div>
            </li>
            <li data-thumb="assets/img/client-thumb/about_us_4_bigperl.png">
              <div class="icon">
                  <img src="assets/img/about_us_quote_dark_bigperl.png" alt="about_us_quote_dark_bigperl">
              </div>
              <div class="content">
                  <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                  <div class="testimonial-meta brand-color">
                      Alex Kumar,
                      <span>User Interface Designer</span>
                  </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div><!-- /.row -->

</div><!-- /.container -->
