.breadcrumb {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #eceeef;
    border-radius: .25rem;
}
.breadcrumb::after {
    display: block;
    content: "";
    clear: both;
}
.breadcrumb li{
    display: inline;
}
.breadcrumb li+li:before {
    padding: 8px;
    color: #66bb6a!important;
    content: "/\00a0";
}
