

.container{
    padding: 80px 0px;
}
.row{
    padding: 30px 0px;
}

.portfolio_content ul{
    padding: 1px 25px;
  }
  .line{
      height: 2px;
      width: 30px;
      background-color: blue;
  }

  .progress {
      padding-top: 1px;
display: -ms-flexbox;
display: flex;
height: 20px;
overflow: hidden;
font-size: 17px;
background-color: #ffffff;
border-radius: .25rem;

/* color: black;*/
}

.progress-bar {
margin: 9px 0px;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: center;
justify-content: center;
color: #fff;
text-align: center;
white-space: nowrap;
background-color: #000000;
transition: width .6s ease;
}
.progress-text {
height: 20px;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: center;
justify-content: center;
/* color: #fff;*/
text-align: center;
height: 20px;
white-space: nowrap;
/*background-color: #007bff;*/
transition: width .6s ease;
}

h3{
    font-weight: bolder;
}
.form_header{
    padding: 20px 0px;
}
.form_header h1{
    font-size: 65px;
    font-weight: 700;

}
.form_header h5{
    font-size: 20px;
    font-weight: 700;

}
form{
    padding-left: 100px;
}

.contact_details{
    padding-top: 50px;
}
.text_field{
    padding-top: 15px;
}
.text_field h2{
    font-weight: 700;
    margin: 0px;
}

