

<div class="padding-top-20 padding-bottom-10 brand-bg">
  <div class="center">
    <form method="post" id="contactForm2" (ngSubmit)="subscribe();subscribeform2.reset(); Info()" #subscribeform2="ngForm">
        <input type="email" name="email" placeholder="Subscribe to Newsletter" id="inputs" [(ngModel)]='email' #userEmail="ngModel"
        [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" >
        <button class="btn btn-sm indigo" name="submit" id="inputbtnstyle"  [disabled]="!subscribeform2.form.valid" ><i class="material-icons">send</i></button>
    </form>
  </div>
</div>
<!-- /.container -->

<app-footer3></app-footer3>


