<section class="section-padding">
  <div id="customer-banner">
  <div class="section container">
      <div class="center mb-80">
         <br> 
         <h2 class="section-title text-uppercase">Mostly Used Technologies</h2>
      </div>
      <div class="row">
          <div class="owl-carousel owl-theme" id="customers-carousel1">
              <div class="item active">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/codeigniter_developement_bigperl.jpg" alt="codeigniter_developement_bigperl">
                        </div>
                        <div class="desc">
                            <h2>Codeigniter Development</h2>
                            <p>Codeigniter web framework is Model - View - Controller framework built in PHP language</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/codeigniter-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                          <div class="featured-item seo-service">
                            <div class="icon">
                                <img class="img-responsive" src="assets/img/seo/wordpress_developement_bigperl.jpg" alt="wordpress_developement_bigperl">
                            </div>
                            <div class="desc">
                                <h2>Wordpress Development</h2>
                                <p>Want to build your website fast with less not no knowledge of programming language ?</p>
                                <div class="bg-overlay"></div>
                                <p><a class="learn-more" routerLink="/word-press-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                            </div>
                        </div>
              </div>

              <div class="item">
                      <div class="featured-item seo-service">
                            <div class="icon">
                                <img class="img-responsive" src="assets/img/seo/e_commerce_development_bigperl.jpg" alt="e_commerce_development_bigperl">
                            </div>
                            <div class="desc">
                                <h2>E-Commerce Development</h2>
                                <p>E-Commerce is bringing in lot of flaxibility for end user on the other hand development ...</p>
                                <div class="bg-overlay"></div>
                                <p><a class="learn-more" routerLink="/ecommerce-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                            </div>
                        </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/windows_app_development_bigperl.jpg" alt="windows_app_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>Windows App Development</h2>
                            <p>With introducing Windows 10 on desktop, mobile and table Microsoft has already proved that...</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/windows-app-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/magento_app_development_bigperl.jpg" alt="magento_app_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>Magento Development</h2>
                            <p>Good E-Commerse doesnot aloways need high upfront technology and time investment. Magento framework already ...</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/magento-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/laravel_development_bigperl.jpg" alt="laravel_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>Laravel Development</h2>
                            <p> With multiple new features and updates Laravel framework is getting high populatrity among Laravel Development community...</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/laravel-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/cake_php_develpoment_bigperl.jpg" alt="cake_php_develpoment_bigperl">
                        </div>
                        <div class="desc">
                            <h2>CakePHP Development</h2>
                            <p>Looking for high performing, secure and robust  php framework for your cloud based application. CakePHP is one of the strongly..</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/cake-php-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/adf_app_development_bigperl.jpg" alt="adf_app_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>ADF & Webenter Development</h2>
                            <p>Oracle Corp need not to have introduction in producing worlds top performing enterprise..</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/adf-webcenter-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/php_development_bigperl.jpg" alt="php_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>PHP Development</h2>
                            <p>With its market leadership for more than two dacades and having majority market share, php has already proven its deep... </p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/php-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/ruby_on_rails_development_bigperl.jpg" alt="ruby_on_rails_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>Ruby On Rails (ROR) Development</h2>
                            <p>Type save and high performance gain Ruby On Rails (ROR) is Model - View - Controller (MVC) ...</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/ruby-on-rails-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/java_development_bigperl.jpg" alt="java_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>Java & Jee Development</h2>
                            <p>Having deep penetration in enterprise application development and over 80% ...</p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/java-j2ee-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
              <div class="item">
                      <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="img-responsive" src="assets/img/seo/cms_development_bigperl.jpg" alt="cms_development_bigperl">
                        </div>
                        <div class="desc">
                            <h2>CMS Development</h2>
                            <p>Content Management System, one of the biggest market segment to build websites without learning complex underlying technologies... </p>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/cmc-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>
